@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-neutral-0: #ffffff;
  --color-neutral-150: #f2f2f2;
  --color-neutral-250: #dcdcdc;
  --color-neutral-350: #bbbbbb;
  --color-neutral-450: #8b8b8b;
  --color-neutral-550: #626262;
  --color-neutral-650: #494949;
  --color-neutral-750: #323232;
  --color-neutral-850: #1f1f1f;

  --color-border: var(--border);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --font-sans:
    var(--font-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    var(--font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  :root {
    --border: #eaeaea;
    --radius: 0.5rem;
  }

  .dark {
    --border: transparent;
  }

  * {
    @apply border-border;
  }

  body {
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
