@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --border: #eaeaea;
    --radius: 0.5rem;
  }

  .dark {
    --border: transparent;
  }

  * {
    @apply border-border;
  }

  body {
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
