.base {
  /* TODO: --radius */
  border-radius: calc(0.5rem - 2px);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.variant-theme {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;

  &:hover {
    background-color: #e5e5e5;
  }
}
:global(html.dark) .variant-theme:hover {
  background-color: #323232;
}

.variant-search {
  &:hover {
    background-color: #e5e5e5;
  }
}
:global(html.dark) .variant-search:hover {
  background-color: #323232;
}

.variant-control {
  display: inline-flex;
  align-items: center;
  border-width: 1px;
  background-color: #fafafa;
  color: #323232;

  &:hover {
    background-color: #f5f5f5;
  }
}
:global(html.dark) .variant-control {
  background-color: #323232;
  color: #e5e5e5;

  &:hover {
    background-color: #404040;
  }
}

.variant-accent {
  background-color: #0369a1;
  color: #f2f2f2;

  &:hover {
    background-color: #0284c7;
  }
}
:global(html.dark) .variant-accent {
  background-color: #a5b4fc;
  color: #1f1f1f;

  &:hover {
    background-color: #818cf8;
  }
}

.size-default {
  height: 2.25rem;
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
}
.size-taller {
  height: 2.5rem;
}
.size-shorter {
  height: 1.5rem;
}
