// https://emotion.sh/docs/css-prop##babel-preset
// https://mui.com/guides/minimizing-bundle-size/#option-2
// https://github.com/vercel/next.js/discussions/17822
{
  "presets": [
    [
      "next/babel",
      {
        "preset-react": {
          "runtime": "automatic",
          "importSource": "@emotion/react"
        },
        "preset-env": {
          "debug": false,
          "targets": {
            "browsers": ">1%, not ie 11, not op_mini all"
          }
        }
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-import",
      {
        "libraryName": "@mui/material",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "core"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@mui/icons-material",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "icons"
    ],
    ["@emotion/babel-plugin"]
  ]
}
