.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.label {
  cursor: pointer;
  padding-right: 0.75rem;
  line-height: 1;
}

*:disabled + .label {
  cursor: not-allowed;
  opacity: 0.7;
}
