.root {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.search-bar-container {
  margin-top: 1px;
  padding-inline: 1rem;
}

.primary-container {
  flex: 1 1 0%;
  overflow-y: auto;
}

.all-tools-container {
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.tool-groups-container {
  padding: 0.5rem;
}

.settings-container {
  padding: 0.5rem;
}
